/* SPDX-License-Identifier: (GPL-2.0+ OR MIT) */
/*
 * Copyright 2022 NXP
 */


/dts-v1/;
#include <dt-bindings/usb/pd.h>
#include "imx93.dtsi"

&ele_fw2 {
	memory-region = <&ele_reserved>;
};

/ {
	model = "IMX93-CUSTOM-BOARD";
	compatible = "fsl,imx93-11x11-evk", "fsl,imx93";

	chosen {
		stdout-path = &lpuart1;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0 0x80000000 0 0x40000000>;
			size = <0 0x08000000>;
			linux,cma-default;
		};

		ele_reserved: ele-reserved@a4120000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa4120000 0 0x100000>;
			no-map;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;
		status = "okay";

		/* 下按键 - GPIO4_IO15 */
		key-down {
			label = "down";
			linux,code = <KEY_DOWN>;    /* KEY_DOWN 下方向键 */
			gpios = <&gpio4 15 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
			wakeup-source;
		};

		key-cancel {
			label = "cancel";
			linux,code = <KEY_ESC>;     /* KEY_ESC 取消键 */
			gpios = <&gpio4 16 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
			wakeup-source;
		};

		/* 上按键 - GPIO4_IO27 */
		key-up {
			label = "up";
			linux,code = <KEY_UP>;    /* KEY_UP 上方向键 */
			gpios = <&gpio4 27 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
			wakeup-source;
		};

		/* 左按键 - GPIO4_IO21 */
		key-left {
			label = "left";
			linux,code = <KEY_LEFT>;    /* KEY_LEFT 左方向键 */
			gpios = <&gpio4 21 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
			wakeup-source;
		};

		/* 确认按键 - GPIO4_IO02 */
		key-enter {
			label = "enter";
			linux,code = <KEY_ENTER>;     /* KEY_ENTER 确认键 */
			gpios = <&gpio4 2 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
			wakeup-source;
		};

		/* 右按键 - GPIO2_IO06 */
		key-right {
			label = "right";
			linux,code = <KEY_RIGHT>;    /* KEY_RIGHT 右方向键 */
			gpios = <&gpio2 6 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
			wakeup-source;
		};
	};

	bat_ctrl {
		compatible = "batctrl";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_batctrl>;
		bat-gpios = <&gpio2 7 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	drv_lcd {
		compatible = "lcd_drv";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lcd_drv>;
		lcd-gpios = <
			&gpio3 24 GPIO_ACTIVE_HIGH  /* LCD-RES  C45 SD3_DATA2 */
			&gpio1 10  GPIO_ACTIVE_HIGH  /* BLIGHT  背光GPIO */
			&gpio3 20 GPIO_ACTIVE_HIGH  /* LCD-A0   C43 SD3_CLK */
			&gpio3 21 GPIO_ACTIVE_HIGH  /* LCD-WR   C47 SD3_CMD */
			&gpio3 22 GPIO_ACTIVE_HIGH  /* LCD-RD   C48 SD3_DATA0 */
			&gpio3 23 GPIO_ACTIVE_HIGH  /* LCD-CS   C44 SD3_DATA1 */
			&gpio4 23 GPIO_ACTIVE_HIGH  /* LCD-D7   C46 SD3_DATA3 */
			&gpio4 17 GPIO_ACTIVE_HIGH  /* LCD-D6   B37 CLK001 */
			&gpio4 20 GPIO_ACTIVE_HIGH  /* LCD-D5   B38 CLK002 */
			&gpio4 18 GPIO_ACTIVE_HIGH  /* LCD-D4   B16 ENET2_TD1 */
			&gpio4 19 GPIO_ACTIVE_HIGH  /* LCD-D3   B17 ENET2_TD0 */
			&gpio4 22 GPIO_ACTIVE_HIGH  /* LCD-D2   B10 ENET2_RX_CTL */
			&gpio4 25 GPIO_ACTIVE_HIGH  /* LCD-D1   B8  ENET2_RD1 */
			&gpio4 24  GPIO_ACTIVE_HIGH  /* LCD-D0   C24 GPIO_IO20 */
		>;
		status = "okay";
	};
	drv_leds {
		compatible = "leds_drv";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_led>;
		drv_leds-names = "drv_leds";
		leds-gpios = <
			&gpio4 7 GPIO_ACTIVE_HIGH  /* 运行指示灯 复用为 GPIO4_IO07 */
			&gpio4 13 GPIO_ACTIVE_HIGH /* 告警指示灯 复用为 GPIO4_IO13 */	
		>;
		status = "okay";
	};

	/* 
	PWM 蜂鸣器：4kHz 方波 
	echo 127 > /sys/class/leds/beep/brightness  # 开（50%占空比）
	echo 0 > /sys/class/leds/beep/brightness    # 关
	*/
	pwm-beep {
		compatible = "pwm-leds";
		status = "okay";

		led-beep {
			label = "beep";
			pwms = <&tpm4 3 250000 0>;  // 通道3, 周期 250000ns = 4kHz
			max-brightness = <255>;
		};
	};

	/* 
	PWM 红外发射：38kHz 方波 
	echo 127 > /sys/class/leds/ir-carrier/brightness  # 开38k（50%占空比）
	echo 0 > /sys/class/leds/ir-carrier/brightness    # 关
	*/
	pwm-ir-tx {
		compatible = "pwm-leds";
		status = "okay";

		led-ir {
			label = "ir-carrier";
			pwms = <&tpm3 3 26316 0>;   // 通道3, 周期 26316ns = 38kHz
			max-brightness = <255>;
		};
	};

	/* WiFi 电源使能 (GPIO1_IO12) - regulator 上电即拉高，早于 MMC 扫描 */
	/* WiFi 主电源: WIFI_PWR_EN */
	reg_wifi: regulator-wifi-pwr {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_wifi_pwr>;
		regulator-name = "WIFI_PWR_EN";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		/*
		* 上电后等待电源稳定
		* 期间 mmc-pwrseq 还不会释放 WLAN_EN
		*/
		startup-delay-us = <100000>;
		regulator-boot-on;

		/*
		* 推荐保留
		* 避免 suspend/resume 时 WiFi 掉电
		*/
		regulator-always-on;
	};
	/* WiFi WLAN 使能 (GPIO2_IO27) - CHIP_EN / WLAN_EN */
	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio2 27 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <100>;
	};

	/* 固定电源 */
	reg_vdd_3v3: regulator-vdd {
		compatible = "regulator-fixed";
		regulator-name = "VDD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
	};

	reg_vddio_1v8: regulator-vddo {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&reg_vdd_3v3>;
	};

	reg_vref_1v8: regulator-adc-vref {
		compatible = "regulator-fixed";
		regulator-name = "vref_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
};

/* 基础外设使能  */
&lpuart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

/* 基础外设使能  */
&lpuart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

/* 红外串口 */
&lpuart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	rs485-rx-during-tx;
	linux,rs485-enabled-at-boot-time;
	status = "okay";
};

/* 蓝牙串口 */
&lpuart7 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
	status = "okay";
};

/* 计量模块串口 */
&lpuart8 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart8>;
	status = "okay";
};

/* PLC 模块串口 */
&lpuart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

/* 协处理器串口 */
&lpuart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
};

&lpi2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	status = "okay";

	rtc: rtc@32 {
		compatible = "epson,rx8025t";
		reg = <0x32>;
		status = "okay";
	};
};

&lpi2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	status = "okay";
};

/* USB OTG1 连接到 u盘接口，固定为 Host 模式 */
&usbotg1 {
	dr_mode = "host";
	hnp-disable;
	srp-disable;
	adp-disable;
	disable-over-current;
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	status = "okay";
};

/* 4G 模块专用 USB OTG2，固定为 Host 模式 */
&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

/*  SD/MMC/eMMC */
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&usdhc2 {
    pinctrl-names = "default", "state_100mhz", "state_200mhz";

    pinctrl-0 = <&pinctrl_usdhc2>;
    pinctrl-1 = <&pinctrl_usdhc2_100mhz>;
    pinctrl-2 = <&pinctrl_usdhc2_200mhz>;
    non-removable;
    bus-width = <4>;
    no-mmc;
    no-sd;
	max-frequency = <25000000>;  
    keep-power-in-suspend;
    wakeup-source;
    /*
     * WiFi 主电源
     */
    vmmc-supply = <&reg_wifi>;
    /*
     * WiFi 时序控制
     */
    mmc-pwrseq = <&wifi_pwrseq>;
    status = "okay";
};

/*  双网口  */
&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>,<&pinctrl_reset_eqos>;
	phy-mode = "rmii";
	phy-handle = <&ethphy1>;
	// phy-reset-gpios = <&gpio3 26 GPIO_ACTIVE_LOW>;
	status = "okay";
	phy-reset-duration = <200>;
	assigned-clocks = <&clk IMX93_CLK_ENET_TIMER2>,
			  <&clk IMX93_CLK_ENET>;
	assigned-clock-parents = <&clk IMX93_CLK_SYS_PLL_PFD1_DIV2>,
				 <&clk IMX93_CLK_SYS_PLL_PFD1_DIV2>;
	assigned-clock-rates = <100000000>, <50000000>;
	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <5000000>;
		reset-delay-us = <100000>;
		reset-post-delay-us = <500000>;
		reset-gpios = <&gpio3 26 GPIO_ACTIVE_LOW>;
		ethphy1: ethernet-phy@1 {
			// compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			// eee-broken-1000t;
		};
	};
};

&fec {
	status = "disabled";
};

/*  PWM (蜂鸣器+红外)  */

/* TPM3_CH3 连接到红外发射模块 */ 
/* TPM4_CH3 连接到蜂鸣器 */ 
&tpm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_tpm3>;
	status = "okay";
};

&tpm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_tpm4>;
	status = "okay";
};

/*  ADC1 */

&adc1 {
	vref-supply = <&reg_vref_1v8>;
	status = "okay";
};

&wdog3      { status = "okay"; };


&lcdif      { status = "disabled"; };
&flexcan1   { status = "disabled"; };
&flexcan2   { status = "disabled"; };
&sai1       { status = "disabled"; };
&sai3       { status = "disabled"; };
&micfil     { status = "disabled"; };
&cm33       { status = "disabled"; };
&mu1        { status = "disabled"; };
&mu2        { status = "disabled"; };
&isi        { status = "disabled"; };
&dphy_rx    { status = "disabled"; };
&mipi_csi   { status = "disabled"; };
&lpi2c3     { status = "disabled"; };
&usdhc3     { status = "disabled"; };
&xcvr       { status = "disabled"; };


&gpio3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio3>;

};

&iomuxc {
	status = "okay";

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX93_PAD_UART1_RXD__LPUART1_RX			0x31e
			MX93_PAD_UART1_TXD__LPUART1_TX			0x31e
		>;
	};

	/* 485串口  */
	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX93_PAD_UART2_RXD__LPUART2_RX			0x31e
			MX93_PAD_UART2_TXD__LPUART2_TX			0x31e
		>;
	};

	/* 红外串口 */
	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO14__LPUART3_TX             0x0000057E	
			MX93_PAD_GPIO_IO15__LPUART3_RX             0x0000057E
		>;
	};


	/* PLC 模块 */
	pinctrl_uart6: uart6grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO04__LPUART6_TX             0x0000057E
			MX93_PAD_GPIO_IO05__LPUART6_RX             0x0000057E
		>;
	};

	/* 协处理器 */
	pinctrl_uart5: uart5grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO00__LPUART5_TX  0x0000057E
			MX93_PAD_GPIO_IO01__LPUART5_RX  0x0000057E
		>;
	};

    /* 蓝牙串口 */
	pinctrl_uart7: uart7grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO09__LPUART7_RX			0x31e /* UART_A_RX */
			MX93_PAD_GPIO_IO08__LPUART7_TX			0x31e /* UART_A_TX */
			MX93_PAD_GPIO_IO11__LPUART7_RTS_B		0x31e /* UART_A_CTS */
			MX93_PAD_GPIO_IO10__LPUART7_CTS_B		0x31e /* UART_A_RTS */
		>;
	};

	/* 计量模块 */
	pinctrl_uart8: uart8grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO12__LPUART8_TX             0x0000057E
			MX93_PAD_GPIO_IO13__LPUART8_RX             0x0000057E
		>;
	};


	/* I2C1 */
	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			MX93_PAD_I2C1_SCL__LPI2C1_SCL		0x40000b9e
			MX93_PAD_I2C1_SDA__LPI2C1_SDA		0x40000b9e
		>;
	};

	/* I2C2 */
	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <
			MX93_PAD_I2C2_SCL__LPI2C2_SCL		0x40000b9e
			MX93_PAD_I2C2_SDA__LPI2C2_SDA		0x40000b9e
		>;
	};

		/* SoC 输出 50MHz 时钟给 PHY */
	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX93_PAD_ENET1_TD2__CCM_ENET_QOS_CLOCK_GENERATE_REF_CLK	0x4000057e  /* 50MHz REF_CLK */
			MX93_PAD_ENET1_MDC__ENET_QOS_MDC				0x57e
			MX93_PAD_ENET1_MDIO__ENET_QOS_MDIO				0x57e
			MX93_PAD_ENET1_RD0__ENET_QOS_RGMII_RD0			0x57e
			MX93_PAD_ENET1_RD1__ENET_QOS_RGMII_RD1			0x57e
			MX93_PAD_ENET1_RXC__ENET_QOS_RX_ER			0x57e
			MX93_PAD_ENET1_RX_CTL__ENET_QOS_RGMII_RX_CTL		0x57e
			MX93_PAD_ENET1_TX_CTL__ENET_QOS_RGMII_TX_CTL		0x57e
			MX93_PAD_ENET1_TD1__ENET_QOS_RGMII_TD1			0x57e
			MX93_PAD_ENET1_TD0__ENET_QOS_RGMII_TD0			0x57e
		>;
	};

	pinctrl_reset_eqos: reset_eqosgrp {
		fsl,pins = <
			MX93_PAD_CCM_CLKO1__GPIO3_IO26		0x40b0  /* ENET1 PHY 复位 */
		>;
	};



	/* SDIO1 (eMMC) */
	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x1582
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x40001382
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x40001382
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x40001382
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x40001382
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x40001382
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x40001382
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x40001382
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x40001382
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x40001382
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x1582
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1-100mhzgrp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x158e
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x4000138e
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x4000138e
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x4000138e
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x4000138e
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x4000138e
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x4000138e
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x4000138e
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x4000138e
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x4000138e
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x158e
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x15fe
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x400013fe
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x400013fe
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x400013fe
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x400013fe
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x400013fe
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x400013fe
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x400013fe
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x400013fe
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x400013fe
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x15fe
		>;
	};

	/* WiFi 电源 pinmux (GPIO1_IO12) */
	pinctrl_wifi_pwr: wifipwrgrp {
		fsl,pins = <
			MX93_PAD_SAI1_TXC__GPIO1_IO12		0x40010b0
		>;
	};

	/* WiFi WLAN EN pinmux (GPIO2_IO27) */
	pinctrl_wifi_wlan: wifiwlangrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO27__GPIO2_IO27		0x40010b0
		>;
	};

	/* SDIO2 (WiFi/SD卡) */
	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX93_PAD_SD2_CLK__USDHC2_CLK		0x1582
			MX93_PAD_SD2_CMD__USDHC2_CMD		0x40001382
			MX93_PAD_SD2_DATA0__USDHC2_DATA0	0x40001382
			MX93_PAD_SD2_DATA1__USDHC2_DATA1	0x40001382
			MX93_PAD_SD2_DATA2__USDHC2_DATA2	0x40001382
			MX93_PAD_SD2_DATA3__USDHC2_DATA3	0x40001382
		>;
	};
	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc2_100mhz: usdhc2-100mhzgrp {
		fsl,pins = <
			MX93_PAD_SD2_CLK__USDHC2_CLK		0x158e
			MX93_PAD_SD2_CMD__USDHC2_CMD		0x4000138e
			MX93_PAD_SD2_DATA0__USDHC2_DATA0	0x4000138e
			MX93_PAD_SD2_DATA1__USDHC2_DATA1	0x4000138e
			MX93_PAD_SD2_DATA2__USDHC2_DATA2	0x4000138e
			MX93_PAD_SD2_DATA3__USDHC2_DATA3	0x4000138e
			MX93_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <
			MX93_PAD_SD2_CLK__USDHC2_CLK		0x15fe
			MX93_PAD_SD2_CMD__USDHC2_CMD		0x400013fe
			MX93_PAD_SD2_DATA0__USDHC2_DATA0	0x400013fe
			MX93_PAD_SD2_DATA1__USDHC2_DATA1	0x400013fe
			MX93_PAD_SD2_DATA2__USDHC2_DATA2	0x400013fe
			MX93_PAD_SD2_DATA3__USDHC2_DATA3	0x400013fe
			MX93_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	};

    /* 红外 */
	pinctrl_tpm3: tpm3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO24__TPM3_CH3		0x31e
		>;
	};

    /* 蜂鸣器 */
	pinctrl_tpm4: tpm4grp {
		fsl,pins = <
            MX93_PAD_GPIO_IO25__TPM4_CH3		0x31e
		>;
	};

	pinctrl_gpio3: gpio3grp {
		fsl,pins = <
            // MX93_PAD_CCM_CLKO2__GPIO3_IO27		0x0000057E /* 锂电池电压检测控制IO */
			MX93_PAD_CCM_CLKO2__GPIO3_IO27  0x31e
		>;
	};

	pinctrl_gpio2 : gpio2grp {
		fsl,pins = <
			MX93_PAD_SAI1_TXFS__GPIO1_IO11		0x31e /* 开模块盖检测 */
		>;
	};

	pinctrl_all_gpio: allgpiogrp {
		fsl,pins = <
			/* 音频/摄像头/CAN/PDM 全部 -> GPIO */
			
			MX93_PAD_SAI1_TXD0__GPIO1_IO13		0x31e /* PLC模块复位IO */
			MX93_PAD_SAI1_RXD0__GPIO1_IO14		0x31e /* 4G模块复位IO */
			MX93_PAD_PDM_CLK__GPIO1_IO08		0x31e /* 4G模块 power key */
			MX93_PAD_PDM_BIT_STREAM0__GPIO1_IO09	0x31e /* 4G USB 电源控制IO */
			
			MX93_PAD_CCM_CLKO3__GPIO4_IO28		0x31e /* 4000&5000硬件版本IO检测 */
			
			/* 通用闲置引脚 -> GPIO */
			MX93_PAD_GPIO_IO02__GPIO2_IO02		0x31e /*开尾盖检测*/
			MX93_PAD_GPIO_IO03__GPIO2_IO03		0x31e /*开关量输入2检测*/
			/* GPIO2_IO07 用于 pinctrl_batctrl 外置电池供电控制，此处不重复配置 */
			MX93_PAD_GPIO_IO16__GPIO2_IO16		0x31e /*开关量输入1检测*/	
			MX93_PAD_GPIO_IO17__GPIO2_IO17		0x31e /*SIM卡切换IO*/	
			MX93_PAD_GPIO_IO18__GPIO2_IO18 		0x31e /*4G模块 power ctrl*/	
			MX93_PAD_GPIO_IO19__GPIO2_IO19		0x31e /*4G模块插拔检测IO*/	
			MX93_PAD_GPIO_IO20__GPIO2_IO20		0x31e /*PLC模块插拔检测IO*/	
			MX93_PAD_GPIO_IO21__GPIO2_IO21		0x31e /*掉电检测IO*/	
			MX93_PAD_GPIO_IO22__GPIO2_IO22		0x31e /*开背盖检测IO*/	
			MX93_PAD_GPIO_IO23__GPIO2_IO23		0x31e /*外置电池充电使能IO*/	
			/* GPIO_IO24 用于 TPM3_CH3 红外发射，GPIO_IO25 用于 TPM4_CH3 蜂鸣器，不可用于 GPIO */
			MX93_PAD_GPIO_IO26__GPIO2_IO26		0x31e /*校表485切换IO*/	
			MX93_PAD_GPIO_IO28__GPIO2_IO28		0x31e /*继电器OFF*/	
			MX93_PAD_GPIO_IO29__GPIO2_IO29		0x31e /*继电器ON*/	
			MX93_PAD_ENET2_MDC__GPIO4_IO14		0x31e /* PLC模块电源控制IO 复用为 GPIO4_IO14 */
			MX93_PAD_ENET2_RD2__GPIO4_IO26		0x31e /* 开关量输入3 复用为 GPIO4_IO26 */
			MX93_PAD_SD2_CD_B__GPIO3_IO00		0x31e /* BT_EN 蓝牙使能脚 */
			MX93_PAD_SD3_DATA3__GPIO3_IO25		0x31e /* 非保持RELAY_1控制IO 复用为 GPIO3_IO25 */

		>;
	};

	pinctrl_led: ledgrp {
		fsl,pins = <
			MX93_PAD_ENET1_TXC__GPIO4_IO07		0x31e /* 运行指示灯 复用为 GPIO4_IO07 */
			MX93_PAD_ENET1_RD3__GPIO4_IO13		0x31e /* 告警指示灯 复用为 GPIO4_IO13 */
	
		>;
	};

	pinctrl_batctrl: batctrlsgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO07__GPIO2_IO07		0x31e
		>;
	};


	pinctrl_gpio_keys: gpio-keys-grp {
	fsl,pins = <
		/* GPIO4_15 -> 下按键 */
		MX93_PAD_ENET2_MDIO__GPIO4_IO15		0x31e
		/* GPIO4_27 -> 上按键 */
		MX93_PAD_ENET2_RD3__GPIO4_IO27		0x31e
		/* GPIO4_21 -> 左按键 */
		MX93_PAD_ENET2_TXC__GPIO4_IO21		0x31e
		/* GPIO4_2  -> 确认按键 */
		MX93_PAD_ENET1_TD3__GPIO4_IO02			0x31e
		/* GPIO2_6  -> 右按键 */
		MX93_PAD_GPIO_IO06__GPIO2_IO06				0x31e
		/* GPIO4_16 -> 取消按键 */
		MX93_PAD_ENET2_TD3__GPIO4_IO16 			0x31e	
		>;	
	};
	pinctrl_lcd_drv: lcd_drvgrp {
		fsl,pins = <
			MX93_PAD_SD3_DATA2__GPIO3_IO24 0x31e 		/* LCD-RES  C45 SD3_DATA2 */
			MX93_PAD_PDM_BIT_STREAM1__GPIO1_IO10 0x31e /* BLIGHT  背光GPIO */
			MX93_PAD_SD3_CLK__GPIO3_IO20 0x31e 		/* LCD-A0   C43 SD3_CLK */
			MX93_PAD_SD3_CMD__GPIO3_IO21 0x31e 		/* LCD-WR   C47 SD3_CMD */
			MX93_PAD_SD3_DATA0__GPIO3_IO22 0x31e 		/* LCD-RD   C48 SD3_DATA0 */
			MX93_PAD_SD3_DATA1__GPIO3_IO23 0x31e 		/* LCD-CS   C44 SD3_DATA1 */

			MX93_PAD_ENET2_RXC__GPIO4_IO23 0x31e 		/* LCD-D7   C46 SD3_DATA3 */
			MX93_PAD_ENET2_TD2__GPIO4_IO17 0x31e 		/* LCD-D6   B37 CLK001 */
			MX93_PAD_ENET2_TX_CTL__GPIO4_IO20 0x31e 	/* LCD-D5   B38 CLK002 */
			MX93_PAD_ENET2_TD1__GPIO4_IO18 0x31e		/* LCD-D4   B16 ENET2_TD1 */
			MX93_PAD_ENET2_TD0__GPIO4_IO19 0x31e		/* LCD-D3   B17 ENET2_TD0 */
			MX93_PAD_ENET2_RX_CTL__GPIO4_IO22 0x31e		/* LCD-D2   B10 ENET2_RX_CTL */
			MX93_PAD_ENET2_RD1__GPIO4_IO25 0x31e		/* LCD-D1   B8  ENET2_RD1 */
			MX93_PAD_ENET2_RD0__GPIO4_IO24 0x31e		/* LCD-D0   C24 GPIO_IO20 */
			
		>;
	};
};


&epxp { status = "okay"; };
